language: nix
nix: 2.1.1

script:
  # Install java, maven and netorcai
  - nix-env -i apache-maven
  - nix-env -f https://github.com/netorcai/pkgs/archive/master.tar.gz -iA netorcai_dev

  # Test the library
  - mvn test
  # Install the library, so examples can be run
  - mvn install
